<li class="blog-card">
  <div class="blog-card__actions">
    <button class="blog-card__edit" title="Редактировать" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="blog-card__delete" title="Удалить" (click)="onDelete()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <a class="blog-card__link" [routerLink]="['/blog', article().id]">
    <div class="blog-card__img"></div>
    <h3 class="blog-card__title">{{ article().title }}</h3>
    <span class="blog-card__date">{{ article().date }}</span>
  </a>
</li>
