<header class="header">
  <nav class="nav container">
    <a [routerLink]="'/'" class="nav__logo">Name-folio</a>
    <ul class="nav__list">
      <li>
        <a
          [routerLink]="'/'"
          routerLinkActive="nav__link--active"
          [routerLinkActiveOptions]="{ exact: true }"
          class="nav__link"
        >About me</a>
      </li>
      <li>
        <a [routerLink]="'/blog'" routerLinkActive="nav__link--active" class="nav__link">Blog</a>
      </li>
      <li>
        <a [routerLink]="'/contacts'" routerLinkActive="nav__link--active" class="nav__link">Contact</a>
      </li>
    </ul>
  </nav>
</header>
